<h1>Gửi nhận dữ liệu thông qua Submit form @ViewBag.thongBao</h1>
<form method="post" asp-action="Index">
    <input type="text" name="FullName" id="">
    <button type="submit">Gửi dữ liệu</button>
</form>